<app-search></app-search>
<app-tag></app-tag>
<ul class="flex justify-center items-center flex-wrap p-0">
  <li *ngFor="let food of foods" class="shadow-lg hover:scale-105 hover:duration-300 m-2 p-0 bg-[#f1f1f1]">
    <a class="h-[24.5rem] w-[20rem] border-[1px] border-solid border-[whitesmoke] rounded m-2 flex flex-col overflow-hidden text-primary hover:opacity-90 cursor-pointer " routerLink="/food/{{food.id}}">
      <img [src]="food.imageUrl" [alt]="food.name" class="object-cover h-[14.5rem]">
      <div class=" mt-[0.3rem] p-[0.5rem] relative h-[6rem]">
        <div class="name">
          {{food.name}}
        </div>
        <span class="favorite absolute top-[0.5rem] right-[1rem] text-[1.2rem] {{food.favorite ? ''  : 'not bg-[#c0c0c0]'}}">
          🤍
        </span>
        <div class="stars mb-[0.2rem]">
          <star-rating [value]="food.stars" [totalstars]="5" checkedcolor="black" uncheckedcolor="red" size="16px"
            [readonly]="true">
          </star-rating>
        </div>
        <div class="product-item-footer flex justify-between items-start">
          <div class="origins flex-[8]">
            <span *ngFor="let origin of food.origins" class="rounded bg-[whitesmoke] inline-block text-grey-500 text-[0.8rem] mr-[0.3rem] py-0 px-[0.5rem] mt-[0.2rem] text-primary">
              {{origin}}
            </span>
          </div>
          <div class="cook-time flex-[4] text-[Ø.9rem] text-right">
            <span>🕑</span>
            {{food.cookTime}}
          </div>
        </div>
        <div class="price absolute bottom-0 left-[0.9rem] pt-[0.3rem] pb-[100%] px-0 text-[#414141] mt-[0.7rem] text-[1.1rem]">
          {{food.price | currency}}
        </div>
      </div>
    </a>
  </li>
</ul>
